	.averageFont{
		font-family: Average;
		src: url("https://fonts.googleapis.com/css2?family=Average&display=swap");
	}

	body {
		font-family: "Roboto";
		line-height: 20px;
		font-size: 30px;
	}

	.logoShift{
		margin-left: 15px
	}
	.navbar1 {
		overflow: hidden;
		background-color: #ECEEFF;
		justify-content: none;
	}

	.navbar1 h1{
		float: left;
		color: black;
		font-family: Source Serif Pro;
		
	}

	.navbar1 a {
		float: right;
		color: black;
		text-align: center;
		/*margin-left: 0px;*/
		padding: 30px;
		text-decoration: none;
		font-size: 17px;
		font-family: Source Serif Pro;
    	padding-left:0;
   		margin:0;
	}

	.mailList {
		text-align:center
	}

	.FAQ {
		text-align:center
	}
	.contactUs {
		font-size: 17px
	}

	.footer{
		display: block;
		float: left;
		background-color: #ECEEFF;
        align: center;
        width: 100%;
        text-align: center;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
		line-height: 1.6em;}
		
	.submitButton{
		background-color:#ECEEFF;
		text-align: center;
	}

	.questions{
		font-size: 20px;
	}

	nav a:hover {
		background-color: white;
	}